  /* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v49-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
        url('../fonts/oswald-v49-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/oswald-v49-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/oswald-v49-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/oswald-v49-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/oswald-v49-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('../fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
  /* variables */
:root{
    --fond-bleu: #107ACA;
    --fond-blanc:#fff;
    --fond-vert: #10ca2c;
    --texte-blanc:#FFF;
    --texte-gris:#444343;
    --texte-noir:#000;
}

/* reset */

*{
    margin:0;
    padding:0;
}
body{
  font-family: 'poppinsregular';
  font-size: 18px;
  width: 80%;
  margin: auto;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 15px auto 0;
}
.container .bloc{
  text-align: center;
}
#bandeau{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sous_titre h2{
  font-family: 'Oswald';
  color: var(--fond-bleu);
  font-size: 2rem;
  text-align: left;
}
.description{
  color: var(--fond-bleu);
  font-size: 1.4rem;
  text-align: left;
  margin: 27px 0;
}

.apropos a{
  padding: 7px 9px 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.apropos a:hover{
  background-color: var(--fond-bleu);
  color: #FFF;
}
a {
  display: inline-block;
  background-color: var(--fond-bleu);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
}
a.traitee {
  background-color: var(--fond-vert);
}

a:hover {
  color: #fff;
  background: linear-gradient(45deg,#069792,#17c2bb);
  transition:none; 
} 
#bandeau h1  a:hover {
  color: var(--fond-bleu);
  background:none;
  transition:none; 
} 
#bandeau h1 a {
  display: block;
  background-color: var(--fond-blanc);
  padding: 0;
  text-decoration: none;
  transition: none;
  color: var(--fond-bleu);
  font-size: 2.5rem;
}
#bandeau h1{
  /* width: 22%; */
  font-family: 'Oswald';
  color: var(--fond-bleu);
  font-size: 3rem;
  text-transform: uppercase;
  /* border-bottom: 5px solid; */
  text-decoration: underline;
}
/* ===================Menu====================== */
#menuprincipal #burger{
  text-align: right;
  font-size: 3rem;
  margin-right: 15px;
  display: none;
}
.fa-bars{
  color: var(--fond-bleu);
  font-size: 2.5rem;
}

#bandeau #menuprincipal ul{
  display: flex;
  justify-content: flex-end;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding-top: 15px;
}
#bandeau #menuprincipal ul li a{
  display: inline-block;
  color: var(--fond-bleu);
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.25rem;
}
#bandeau #menuprincipal ul li a:hover{
  color: #fff;
  background: linear-gradient(45deg,#069792,#17c2bb);
  transition:none; 
}

.formulaire{
  width: 55%;
  margin: auto;
  border-radius: 6px;
  background: var(--fond-bleu) 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 6px #00000040;
  border-radius: 6px;
  opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
.type h3{
  text-transform: uppercase;
}
.reponse{
  width: 100%;;
}
  .form-inscription h3{
    color: var(--fond-bleu);
    font-size: 1.5rem;
  }
  label, h3{
    color: var(--texte-blanc);
    padding: 10px;
  }
  input[type="text"],
  input[type="date"],
  input[type="genre"],
  input[type="role"],
  input[type="email"],
  input[type="password"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: var(--fond-blanc);
  color: var(--texte-blanc);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"], input[type="text"],
input[type="date"], input[type="genre"],
input[type="role"], input[type="email"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
 
}
input[type="date"]{
  text-align: center;
}
.radio{
  display: inline-block;
}
select{
  text-align: center;
  margin: 5px;
  font-size: 1rem;
}
#libelle_role{
  color: var(--texte-blanc);
  margin: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

button[type="submit"] {
  background-color: var(--fond-blanc);
  color: var(--fond-bleu);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
button[type="submit"]:hover{
  color: #fff;
  background: linear-gradient(45deg,#069792,#17c2bb);
  transition:none; 
}
.msg{
  font-size: 1.5rem;
}

/* ===========================Vue page patient============================== */
.container h2{
  text-align: center;
  color: var(--texte-gris);
  margin: 10px;
}

.corps_patient{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.form-declaration{
  margin-bottom: 10px;
  width: 50%;
  margin: auto;
}
#symtomes, #autre_symptome{
    text-align: initial;
    width: 100%;
}

#symtomes li::marker{
  padding: 10px;
}
#symtomes .question, #autre_symptome p, #texte_autre{
    margin: 5% 0 0 39px;
}
#texte_autre, #texte_reponse{
  width:100%;
  height: 150px;
  resize: none;
  display: block;
}
.donnees p{
  margin: 30px 0;
  text-align: initial;
  padding: 3px 0 0 30px;
}
.declaration{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin : 20px 0;
}

.declaration h4 {
  font-size: 1.5rem;
  color: #413f3f;
  margin-top: 0;
  margin-bottom: 10px;
}

.historique p{
  margin: 30px;
}



/* =========================vueDeclaration======================== */

/* Style pour la div contenant le titre */

.titre_declaration {
  text-align: center;
  margin-top: 10px;
}
#details{
  margin: 20px 0px;
}
#details div{
  margin: 15px 0;
}
.retour_profil{
  text-align: center;
}
.message{
  text-align: center;
  font-size: 1.5rem;
  color: #26e726;
  font-weight: bold;
}
.symtomes{
  padding: 3px 0 0 30px;
}

/* Style pour les spans contenant le nom du symptôme et les options de choix */
#symptomes span {
  display: inline-block;
  font-size: 1.2rem;
}

/* Style pour les div contenant les symptômes individuels */
#symptomes div {
  margin-bottom: 10px;
}

/* Style pour les labels des boutons radio */

#symptomes label {
  font-size: 16px;
  font-weight: normal;
  margin-right: 10px;
}

/* Style pour les boutons radio */
#symptomes input[type="radio"] {
  margin-right: 5px;
}

/* Style pour les textarea contenant les autres symptômes */
#autre_symptome textarea {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* Style pour le bouton d'envoi */
.form-declaration button[type="submit"]{
 margin: 10px;
}
button[type="submit"] {
  margin-top: 5px;
  background-color: var(--fond-vert);
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* =========================Accordéon======================== */

.accordion {
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;

}

.accordion-item {
  border: 1px solid var(--fond-bleu);
  border-radius: 5px;
}
.accordion-item.traitee{
  border: 1px solid var(--fond-vert);
  border-radius: 5px;
}

.accordion-header {
  color: #444;
  cursor: pointer;
  padding: 18px;
  position: relative;
  user-select: none;
}

.accordion-header.active {
  background-color: var(--fond-bleu);
  color: var(--texte-blanc);
}
.accordion-header.active.traitee {
  background-color: var(--fond-vert);
  color: var(--texte-blanc);
}

.accordion-content {
  max-height: 0;
  margin: 5px;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
}

.accordion-item:last-child .accordion-content {
  border-bottom: 0;
}

/* ===============================Footer=============================== */

footer{
  margin-top: 50px;
  text-align: center;
  color: var(--fond-bleu);
}
footer .mention li{
  list-style-type: none;
}
footer .mention a{
  color: var(--fond-bleu);
  background-color: var(--fond-blanc);
}
footer .mention a:hover {
  color: #fff;
  background: linear-gradient(45deg,#069792,#17c2bb);
  transition:none; 
} 
/* =======================Medias Querry================================ */

@media screen and (max-width: 770px) {
  
  #bandeau h1 a{
    font-size: 2rem;
  }
  #menuprincipal #burger{
      display: block;
  }
  #bandeau #menuprincipal ul{
      display: none;
      margin-bottom: 15px;
  }
  #bandeau #menuprincipal ul li{
      line-height: 3.2rem;
  }
  #bandeau #menuprincipal ul li a{
      padding-bottom: 0;
  }
  .formulaire {
    width: 100%;
  }
  .corps_patient{
    display: block;
  }
  input[type="text"], input[type="text"],
  input[type="date"], input[type="genre"],
  input[type="role"], input[type="email"],
  input[type="password"] {
  width: 80%;
}

  .titre h1 {
    font-size: 1.5rem;
    text-align: justify;
  }

  .titre h2 {
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
    text-align: justify;
  }

  #contenu .home-image {
    display: none;
  }
  .donnees p{
    margin: 30px 0;
  }
  .form-declaration{
    width: 100%;
  }
  #symtomes .question, #autre_symptome p, #texte_autre{
    margin: 8px
}
  #autre_symptome textarea {
  width: 100%;
}

}
  


